
*{
    box-sizing: border-box;
    margin: 0cm;
    padding: 0cm;
}

header {
    display: flex;
    padding:15px 15px 15px 15px;
    height: fit-content;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(45, 44, 49);
    color: rgb(45, 44, 49);
    justify-content: center;

    
}

.name{
    display: inline-block;
    padding-top: 15px;
    font-size: 38px;
    text-align: center;
    height: fit-content;
    background-color: rgb(116, 202, 173);
    width: 300px;
    
    
}

.ng{
    color:rgb(119, 108, 108)
}

.headlines{
    
    padding: 20px;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%;
    

}

ul{
    display: flex;
    justify-content: flex-end;
    
}


li{
    display: inline-block;
    margin-left: 80px;
    justify-content: space-between;

}

a {
    color: rgb(116, 202, 173);
    text-decoration: underline;
}

a:hover{
    color: blue;
}

.photo-box {
    
    position: relative;
    text-align: center;
    color: white;
    
    

}

img{
    padding: 0%;
    width: 100%;
    height:200px;
    
}
.bio-box{
    position: absolute;
    bottom: 20px;
    right: 75px;
    color:darkblue;
    background-color:rgb(116, 202, 173) ;
    font-weight: bold;
    width: fit-content;

}


/* main section*/
main{
    margin-left: 100px;
    margin-right: 150px;
}



.main-1{
    display:flex;
    width:100%;
    height:fit-content;
    margin:auto;
    padding: 20px;
    justify-content: space-between;
    
}

.about-me{
    flex:1;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    float: right;
    display: flex;
    width: 50px;
    text-align: center;
    border-right: 3px solid black;
    
}

.Title{
    margin:20px 5px,20px,20px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cadetblue;
}


.content{

    flex:2;
    padding:15px;
    text-align:justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(39, 131, 133);
    margin: 10px;
}
.main-2{
    display:flex;
    width:100%;
    height:fit-content;
    margin:auto;
    padding: 20px;
    justify-content: space-between;

}

.work{
    flex:1;
    justify-content: flex-end;
    padding: 20px;
    float: right;
    display: flex;
    width: 50px;
    text-align: center;
    border-right: 3px solid black;
}

.projects{
    flex:2;
    width:100%;
    height: fit-content;
    padding:15px;
    margin:10px;
    display: flex;
    flex-direction: column;


}

.big-project{

    flex:2;
    border:rgb(116, 202, 173) solid 2px;
    position: relative;
     
}

.surft-report{
    background-color: lightgrey;
    color: black;
    font-size:12px ;
    text-align: center;
    position: absolute;
    width: fit-content;
    border-bottom-right-radius:  10px;
    border-top-right-radius: 10px;
    bottom: 20px;
    left:0px;

}

.project-1-2{
    flex:1;
    display: flex;
    justify-content: space-between;
    
}

.project-1 {
    flex:1;
    border:rgb(116, 202, 173) solid 2px;
    height: 100%;
    position: relative;
}

.led{
    position: absolute;
    background-color: lightgrey;
    color:black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left:0px;
    bottom:10%;
}

.project-2 {
    flex:1;
    border:rgb(116, 202, 173) solid 2px;
    height: 100%;
    position: relative;
}

.caculator{position: absolute;
    background-color: lightgrey;
    color:black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left:0px;
    bottom:10%;
}




.project-3-4{
    flex:1;
    display: flex;
    justify-content: space-between;
   
    
}

.project-3{
    flex:1;
 border:rgb(116, 202, 173) solid 2px;
 height: 100%;
 position: relative;
}

.pastel{
    position: absolute;
    background-color: lightgrey;
    color:black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left:0px;
    bottom:10%;
}

.project-4{
    flex:1;
    border:rgb(116, 202, 173) solid 2px;
    height: 100%;
    position: relative;
}

.run-buddy{
    position: absolute;
    background-color: lightgrey;
    color:black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left:0px;
    bottom:10%;
}


footer{
    display: flex;
    align-items: center;
    height: fit-content;
    margin: auto;
    padding: 20px;
    
}

.contact{
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    float: right;
    display: flex;
    width: 50px;
    text-align: center;
    border-right: 3px solid black;
    flex:1;
}

.information{
    flex:2;
    width:100%;
    height: fit-content;
    padding:15px;
    margin:10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(116, 202, 173);
    text-decoration: underline ;
    font-weight: bold;
}

@media all and (max-width:700px) {

    header{ 
        flex-direction: column;
    
    }
    ul { 
        flex-direction: column;
       
        
    }
    body{
        background-color: cornsilk;
        margin:5px
        padding:5px;


    }
    .project-1-2 {
        flex-direction: column;
    }

    .project-3-4 {
        flex-direction: column;
    }
    .information {
        flex-direction: column;
        list-style-type:circle;
        
    }
}
